@mixin clip-text {
  background-image: linear-gradient(
    to right,
    rgb(177, 108, 234),
    rgb(255, 103, 101),
    rgb(255, 164, 77)
  );
  background-clip: text;
  color: transparent;
}
@mixin media($size) {
  @if $size == $phone {
    @media screen and (min-width: $phone) {
      @content;
    }
  }
  @if $size == $tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $size == $desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $size == $desktop-xl {
    @media screen and (min-width: $desktop-xl) {
      @content;
    }
  }
}
