$bg-aside: rgb(246, 246, 246);
$bg-profile-image: rgb(223, 223, 223);
$bg-button: black;

$heading1: rgb(3, 3, 3);
$font-family-plus: "Plus Jakarta Sans", sans-serif;

$text-gray: rgb(146, 146, 146);
