$bg-aside: rgb(246, 246, 246);
$bg-profile-image: rgb(223, 223, 223);
$bg-button: rgb(23, 23, 23);
$bg-dark: rgb(23, 23, 23);
$bg-gray: rgb(223, 223, 223);

$heading1: rgb(3, 3, 3);
$font-family-plus: "Plus Jakarta Sans", sans-serif;

$text-gray: rgb(146, 146, 146);
$text-white: rgb(219, 219, 219);

$phone-screen: 500px;
$tab-screen: 834px;
$laptop-screen: 1024px;
$wide-screen: 1200px;
