* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

.header-xl {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

.header {
  font-size: clamp(1.5rem, 1.02rem + 2.05vw, 2rem);
  margin: 0 auto;
  z-index: 1;
  margin-block-start: 20px;
  position: relative;
}
@media screen and (min-width: 37.5em) {
  .header {
    margin-block-start: 30px;
  }
}
.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
}
@media screen and (min-width: 37.5em) {
  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px 25px;
  flex-direction: column;
}
@media screen and (min-width: 37.5em) {
  .header__nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }
}
.header__social-icons {
  display: flex;
  gap: 2rem;
}

.hero {
  text-align: center;
}
.hero__wrapper {
  padding: 40px;
  position: relative;
}
.hero h1 {
  text-align: left;
  margin-block: 4em;
}
.hero__rings {
  position: absolute;
  translate: -50%;
  width: 400px;
  top: 100px;
  height: auto;
}
@media screen and (min-width: 37.5em) {
  .hero__rings {
    left: 100px;
  }
}
.hero__text a {
  display: inline-block;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 1.5vw, 2rem);
}

.project__wrapper {
  padding-block: 140px;
}
.project__grid {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 60px;
}
@media screen and (min-width: 37.5em) {
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project__image {
  width: 100%;
}
.project__links {
  display: flex;
  flex-direction: column;
}

.contact {
  position: relative;
}
.contact__wrapper {
  padding-block: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
}
.contact__rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -25%;
}
.contact__headline {
  margin-block-end: 16px;
  font-size: clamp(1.5rem, 2rem + 4.5vw, 8rem);
}
.contact__description {
  line-height: 1.5;
}
.contact__control input,
.contact__control textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 1.625;
  color: var(--text1);
  border-bottom: 1px solid var(--accent);
}
.contact__control label {
  margin-block-end: 10px;
  display: block;
}
.contact__control textarea {
  margin-block-end: 32px;
}
.contact__control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}
.contact__control.align-right {
  display: flex;
  justify-content: flex-end;
}
.contact__control button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: white;
  font-size: 2rem;
  border: 1px solid var(--accent);
  padding: 2rem;
}
.contact__control button:hover {
  color: var(--text1);
  background-color: var(--accent);
  cursor: pointer;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact__invalid-icon {
  display: none;
}

@keyframes bounce-v {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
:root {
  --container: 64em;
  --accent: hsl(153, 71%, 59%);
  --border-bottom: hsl(0, 0%, 40%);
  --bg-body2: hsl(0, 0%, 14%);
  --text1: hsl(0, 0%, 100%);
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}
@media screen and (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

body {
  background-color: #141414;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}

a.underline {
  --width: 3px;
  font-style: normal;
  text-decoration: underline var(--accent) var(--width);
  text-underline-offset: 8px;
  padding: 1rem;
}

a.underline {
  text-transform: uppercase;
}

.bottom-border {
  border-bottom: 1px solid var(--border-bottom);
}

.section-seprator {
  margin-bottom: 8rem;
}

.bg-less-dark {
  background-color: var(--bg-body2);
}

/*# sourceMappingURL=style.css.map */
