.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  &-wrapper {
    padding: 0 0 0 2rem;
  }
  &__heading1 {
    margin: 0 0 4rem 0;
    font-size: 4rem;
    color: $heading1;
    font-size: 1.8rem;
    font-weight: normal;
    span {
      font-size: 6rem;
      font-weight: bold;
      font-family: $font-family-plus;
      @include clip-text;
    }
  }
  &__btns {
    display: flex;
    gap: 8rem;
    align-items: center;
  }
  &__btn {
    padding: 2rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    box-shadow: 10px 10px 0 0 gray;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0;
      cursor: pointer;
    }
  }
}
.cv-link {
  display: flex;
  align-items: center;
  & > * {
    transition: all 0.3s;
  }
  &:hover > * {
    margin: 0 0 0 2rem;
    font-size: 2rem;
  }
}
