.services {
  text-align: center;
  @include media-screen($phone-screen) {
    text-align: start;
    padding-left: 2rem;
  }
  &__heading {
    font-size: 4rem;
    margin-bottom: 4rem;
    &-title {
      font-family: $font-family-plus;
      font-size: 2.8rem;
      margin-bottom: 2rem;
      font-weight: bold;
      @include clip-text;
    }
  }
  &__items {
    display: flex;
    gap: 4rem 2rem;
    padding: 0 4rem;
    flex-wrap: wrap;
    @include media-screen($tab-screen) {
      justify-content: center;
    }
    @include media-screen($phone-screen) {
      flex-direction: column;
    }
  }
  &__item {
    text-align: start;
    border: 1px solid black;
    padding: 4rem;
    box-shadow: 10px 20px 0 black;
    flex-basis: calc((100% / 3) - 2rem);
    // media query
    @include media-screen($tab-screen) {
      flex-basis: calc((100% / 2) - 2rem * 3);
    }
    @include media-screen($phone-screen) {
      padding: 2rem;
      flex-basis: content;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > h3 {
      font-size: 3.2rem;
    }
    & > p {
      font-size: 1.8rem;
      color: $text-gray;
    }
    &-ul {
      color: black;
      padding-left: 2rem;
      & > li {
        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}
