.work {
  padding: 0 0 0 2rem;
  &__link {
    font-size: 4rem;
    font-weight: bold;
    transition: color 0.3s ease-out;
    &:hover {
      cursor: pointer;
      color: transparent;
      background-image: linear-gradient(to right, tomato, gold, yellow);
      background-clip: text;
    }
  }
}
